.big-button {
    background-color: $purple;
    color: white;
    border: none;
    border-bottom: 0.6rem solid darken($purple, 10%);
    width: 100%;
    font-size: $l-size;
    margin: $xl-size 0;
    padding: 2.4rem;

    &:disabled {
        opacity: 0.5;
    }
}

.button {
    background-color: $purple;
    border: none;
    border-bottom: 0.3rem solid darken($purple, 10%);
    color: white;
    font-weight: 500;
    padding: $s-size;
}

.button--link {
    background-color: transparent;
    border: none;
    color: $off-white;
    padding: 0;
}