.header {
  background: $off-black;
  color: white;
  font-size: $xl-size;
  padding: $m-size 0;
}

.header__title {
  font-size: $l-size;
  margin: 0;
}

.header__subtitle {
  color: $off-white;
  font-weight: 500;
  font-size: $m-size;
  margin: 0;
}
