.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  transition: opacity 200ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  background: $light-blue;
  padding: $l-size;
  max-width: 30rem;
  color: white;
  outline: none;
}

.modal--title {
  font-weight: bold;
}

.modal--body {
  word-break: break-all;
}
